/* PORTFOLIO SHEMAMTICS */
.row {
  @include outer-container;
  padding: 0 $base-spacing;
}
.landing {
    background-color: white;
    padding: 5em 0 9em;
}
#yer-great {
  max-width:80%;
  margin: 0 auto;
  display: block;
  @include media (min-width $medium-screen) {
    max-width:50%;
  }
}
.work {
    background-color: $darkblue;
    padding: 4em 0;

    .row {
        margin-bottom: 4em;
    }
    h1{ color:$salmon; }
}
/* END PORTFOLIO SHEMAMTICS */
.next {
    background-color: $darkblue;
    padding: 4em 0 2.5em;

    h4 {
      @include transition-duration(0.36s);
      a {
        font-size: 4.25rem;
        color: #FFFFFF;
        @include transition-duration(0.36s);
        &:hover {
          color: $salmon;
          @include transform( scale( 1.025 ));
        }
      }
      &:hover {
        @include transform( scale( 1.025 ));
      }
    }
}
/* END PROJECT PAGE SHEMAMTICS */


/* TOWELS */


.background { background-size: cover; }
.txtcenter { text-align:center; }
.opa-hover {
    opacity:0.85;
    @include transition-duration(0.36s);
    &:hover{

        opacity: 1;
    }
}

    /* END TOWELS */
