.row {
  @include outer-container;
  padding: 0 $base-spacing;
}
.og-row {
  @include outer-container;
}
.landing {
    background-color: white;
    padding: 5em 0 9em;
}
img {
  width: 100%;
}

.background { background-size: cover; }

body {
  background: url('../img/stardust.png') repeat;
  padding-bottom: 8em;
}

.logo-container {
  max-width: 446px;
  display: inline-block;
}

fieldset {
    background: #f7f7f7;
    border: 1px solid #DDD;
    margin: 0 0 .75em;
    padding: 1.5em;
}
