.project-landing {
    padding: 2em 0em 3em;
    text-align: center;

    @include media ($medium-screen) {
      padding-top: 0em;
    }

    hr { width: 20%; margin: $base-spacing auto; }
    p { font-size: 1em; }
    .image {
      @include media ($medium-screen) {
        @include span-columns( 6 );
        @include shift( 3 );
      }
    }
}

img[src$="-div.png"] {
    margin: 0em 0em 2em;
}

.info-block, .cta-block {
  padding: 4em 0;

  h3 {
    line-height: 1em;
  }

  hr {
    width: 50%;
  }

  article {
    @include media ($large-screen) {
      @include span-columns( 10 );
      @include shift( 1 );
    }
  }

  .image {
    @include media ($medium-screen) {
      @include span-columns( 12 );
    }
  }

  p {

    a, a.inline {
      color: $salmon;
      font-weight: bold;
      @include transition-duration(0.36s);

      &:hover {
        color: lighten($salmon, 5%);
        border-color: lighten($salmon, 5%);
      }
    }

    a {
      border-bottom: 2px solid $salmon;
      line-height: 2;
    }

    a.inline {
      line-height: $base-line-height;
      border-bottom: none;
      text-decoration: underline;
    }
  }

}

.info-block {
  background-color: $offwhite;

  article {
    margin-bottom: $base-spacing;
  }
}

.cta-block {
  p {
    text-align: center;
  }
  article {
    margin-bottom: $base-spacing*2;
  }
}

.next {
    background-color: $darkblue;
    padding: 4em 0 2.5em;

    h4 {
      text-align: center;
      @include transition-duration(0.36s);
      a {
        color: $salmon;
        @include transition-duration(0.36s);

        &:hover {
          color: lighten($salmon, 5%);
          @include transform( scale( 1.025 ));
        }
        @include media ($medium-screen) {
          font-size: 4.25rem;
        }
      }
      &:hover {
        @include transform( scale( 1.025 ));
      }
    }
}

/* I'm so wet */
#about {
  .info-block {
    background-color: white;
    text-align: center;
  }
  hr {
    display: block;
    margin: $base-spacing auto;
  }
  article {
    .image-wrapper {
      margin-top: $base-spacing;
      @include span-columns( 5 );
      @include shift( 3.5 );
    }
    .image {
      height: 0;
      padding-bottom: 100%;
      background: url('../img/matt-baird.jpg') 0 0;
      background-size: 200%;
      background-repeat: no-repeat;
      display: block;

      &:hover {
        background-position: 100%;
      }
    }
  }
}
