.project-landing {
    padding: 2em 0 3em;
    hr { width: 20%; margin: $base-spacing auto; }
    .image {
      @include media ($medium-screen) {
        @include span-columns( 6 );
        @include shift( 3 );
      }
    }
}

img[src$="-div.png"] {
    margin: 0em 0em 2em;
}

.image-block, .cta-block, .info-block {
    padding: 4em 0;
    a { font-weight: bold; }
    hr { width: 50%; }
}

.image-block {
    hr { margin: $base-spacing auto; }
    .text, .image {
      @include media ($medium-screen) {
        @include span-columns( 9 );
        @include shift( 1.5 );
      }
    }
    img { margin: $base-spacing 0em; }

}

.cta-block {

    .background, article {
      text-align: center;

      @include media ($large-screen) {
        text-align: left;
        @include span-columns( 6 );
      }
    }

    .background {
      margin-bottom: $base-spacing;

      @include media ($large-screen) {
        margin-bottom: 0em;
      }
    }

    hr {
      margin-left: auto; margin-right: auto;

      @include media ($large-screen) {
        margin-left: 0em; margin-right: 0em;
      }
    }

    .button {
        width: 80%;
        display: block; margin: 0px auto 20px; position:  relative; top: 42%;
        color: #FFFFFF; border: 2px solid #FFFFFF; padding: 7px 0;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: bold; text-align: center;
        @include transition( all 0.5s );
        @include border-top-radius(2px);
        @include border-bottom-radius(2px);
        @include border-left-radius(2px);
        @include border-right-radius(2px);

        &:hover {
          background-color: #FFFFFF;
        }
    }

}

.info-block {
  h3 {
    line-height: 1em;
  }
  .text-only {
    @include media ($large-screen) {
      @include span-columns( 10 );
      @include shift( 1 );
    }
  }
  article {
    .text {
      @include media ($medium-screen) {
        @include span-columns( 9 );
      }
    }
    .image {
      @include media ($medium-screen) {
        @include span-columns( 3 );
      }
    }
  }
}

.next {
    background-color: $darkblue;
    padding: 4em 0 2.5em;

    h4 {
      @include transition-duration(0.36s);
      a {

        color: $salmon;
        @include transition-duration(0.36s);
        &:hover {
          color: lighten($salmon, 5%);
          @include transform( scale( 1.025 ));
        }
        @include media ($medium-screen) {
          font-size: 4.25rem;
        }
      }
      &:hover {
        @include transform( scale( 1.025 ));
      }
    }
}

/* I'm so wet */
#about {
  article {
    .image {
      height: 0;
      padding-bottom: 100%;
      background: url('../img/matt-baird.jpg') 0 0;
      background-size: 200%;
      background-repeat: no-repeat;
      display: block;

      &:hover {
        background-position: 100%;
      }
      @include media ($medium-screen) {
        padding-bottom: 23.2317613015%;
      }
    }
    .text {
        margin-top: 1.5em;
    }
    a {
      color: $salmon;

      &:hover {
        color: lighten($salmon, 13%);
      }
    }
  }
}


#rtr {
    .title {
        border-color: darken($ryobi-offwhite, 5%)
    }

    .info-block {
        background-color: $ryobi-offwhite;
    }

    .modal-block {
        h4, p {color:white}
    }

    .cta-block {
        h4, p {
            color: $offblack;
        }
        .background {
            background-image: url("../img/rtr-webcta.jpg");
            height: 250px;
            // @include box-shadow(inset 0px 0px 0px 3px rgba(255,255,255,0.3));
        }
        .button {top: 32%;}
        .button:hover {
            color: $ryobi-blue;
        }
    }
}
#pw {
    .info-block {
      background-color: $ryobi-offwhite;
    }

    .one {
        background: $offwhite;
        h4, p {color: darken($offwhite, 70%);}
    }

    .cta-block {
        h4, p {
            color: $offblack;
        }
        .background {
            background-image: url("../img/pw-webcta.jpg");
            height: 250px;
            // @include box-shadow(inset 0px 0px 0px 3px rgba(255,255,255,0.3));
        }
        .button:hover {
            color: $ryobi-blue;
        }
    }
}

#html-email {
  .info-block {
    margin-top: 3em;

    a {
      color: $salmon;
      &:hover {
        color: lighten($salmon, 9%);
      }
    }

  }
}

/* .www {
  background-color: \$offwhite;
  border-bottom: \$base-spacing solid lighten(\$offwhite,5%);
  padding: \$base-spacing 0;

  article {
    .text {
      @include media (\$medium-screen) {
        @include span-columns( 9 );
        color: \$offblack;
        margin-top: \$base-spacing;
      }
    }
    .image {
      @include media (\$medium-screen) {
        @include span-columns( 3 );
      }
    }
  }
  a {
    color: \$salmon;
    &:hover {
      color: lighten(\$salmon, 9%);
    }
  }
}
.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
// For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
} */
