.project--tile {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  @include transition( all 0.5s );
  color:#555;

  @include media (min-width $medium-screen max-width $large-screen) {
    @include span-columns( 6 );
    @include omega( 2n );
  }
  @include media ($large-screen) {
    @include span-columns( 4 );
    @include omega( 3n );
  }
  img {display:block;}
  h4 {
      font-weight: 700;
      line-height:1.25em;
  }
  &:hover {
      @include transform( scale( 1.025 )) ;
      color: $salmon;
  }
}



.project--summary__contain {
    background-color: white;
    padding: 2em 1em;
}
