

.logo-container {
  max-width: 165px;
  position: absolute;
  @include span-columns ( 7 );
  padding-left: 10px;

  @include media ($small-screen) {
    width: em(180);
    max-width: 230px;
    left: 1em;
    top: -1em;
  }
  @include media ($large-screen) {
    width: em(230);
    top: -4em;
  }
}
